
<div style="margin-top:100px;">
  <div id="calendar" style="width:90%;height:80%;padding-left:5%;">
  
</div>

<script>
  var y = 2014;
  var m = 3;
  $('#calendar').fullCalendar({
        events: [
                {
                    title: 'Office consultation for Asthama',
                    start: new Date(y, m, 1, 9, 00),
                    end: new Date(y, m, 1, 10, 00),
                    allDay: false
                },
                {
                    title: 'Routine general medical examination at a health care facility"',
                    start: new Date(y, m, 2, 16, 00),
                    allDay: false
                },
                {
                    title: 'Office/outpatient visit, est',
                    start: new Date(y, m, 4, 16, 00),
                    allDay: false
                },
                {
                    title: 'Office consultation',
                    start: new Date(y, m, 9, 16, 00),
                    allDay: false
                },
                {
                    title: 'Routine general medical examination at a health care facility',
                    start: new Date(y, m, 13, 9, 00),
                    allDay: false
                },
                {
                    title: 'Office/outpatient visit, est',
                    start: new Date(y, m, 15, 16, 00),
                    allDay: false
                },
                {
                    title: 'Routine general medical examination at a health care facility',
                    start: new Date(y, m, 17, 16, 00),
                    allDay: false
                },
                {
                    title: 'Office/outpatient visit, est',
                    start: new Date(y, m, 18, 16, 00),
                    allDay: false
                },
                {
                    title: 'Routine general medical examination at a health care facility',
                    start: new Date(y, m, 29, 16, 00),
                    allDay: false
                },
                {
                    title: 'Office/outpatient visit, est',
                    start: new Date(y, m, 26, 16, 00),
                    allDay: false
                }
            ]
        });
         
    
</script>